.DS_Store
*.log
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

*.pidb.meta
*.pdb.meta
*.mdb.meta

/ChessUnity/ChessUnity/Library/metadata
/ChessUnity/ChessUnity/Library/PackageCache
/ChessUnity/ChessUnity/Library/PlayerDataCache
/ChessUnity/ChessUnity/Library/ShaderCache
/ChessUnity/ChessUnity/Library/StateCache

